*{padding: 0;margin: 0;box-sizing: border-box;}

body{
	background-color: lightgoldenrodyellow;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
	background-color: yellow;
	border-bottom: 2.5px solid black;
}
header h1{
	padding: 1rem;
}
nav{
	border-top: 2.5px solid black;

}
nav *{
	list-style-type: none;
	text-decoration: none;
}
nav ul{
	display: flex;
}
nav ul li{
	padding: 1rem;
	
}
main{
	padding: 1em;
}
nav ul li:hover{
	background-color: lightgoldenrodyellow;
}
main > section{
	margin: 1rem 0rem;
	padding: 1rem;
	border: 1px solid black;
	background-color: lightgrey;
}

footer{
	padding: 1rem;
		background-color: yellow;
	border-top: 2.5px solid black;
	border-bottom: 2.5px solid black;
}